@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer components {
  .nav-container {
    display: none;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    height: 57px;
    /* background: #3c4046; */
    border-radius: 8px;
    width: fit-content;
    border: 1px solid #2b303b;
    /* gap: 32px; */
  }

  .list-item {
    border-style: solid;
    padding-right: 15px;
    height: 25px;
  }

  .list-item:last-child {
    padding-right: 0;
  }

  .btn-tab,
  .btn-tab-active,
  .btn-tab-focused {
    position: relative;
    top: -10px;
    z-index: 2;
  }

  .btn-tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      hsla(222, 100%, 2%, 0.614),
      hsla(198, 100%, 50%, 0.133)
    );
    border-radius: 8px;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease-in-out;
  }

  .btn-tab:hover::before,
  .btn-tab-active:hover::before,
  .btn-tab-focused:hover::before {
    opacity: 1;
  }

  .btn-tab-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #000208, #141449);
    z-index: 1;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .btn-tab-focused::before {
    /* background: linear-gradient(to bottom, #000208, #00b3ff22); */
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .list-label {
    position: absolute;
    left: 1px;
    right: 0;
    top: 6.5px;
    bottom: 0;
    z-index: 1;
    user-select: none;
    font-size: 1rem;
  }

  .highlighted-tab {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    /* background: linear-gradient(to bottom, #000208, #00b3ff22); */
    border-radius: 8px;
    z-index: 0;
  }

  .boomerang-tab {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    /* background: linear-gradient(to bottom, #000208, #141449); */
    border-radius: 8px;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .boomerang-tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    background: linear-gradient(to bottom, #000208, #00b7ff1e);
    opacity: 1;
    z-index: -1;
    transition: opacity 1s ease-in-out;
  }

  .highlighted-tab-selected {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(to bottom, #000208, #00b7ff1e);
    border-radius: 8px;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .highlighted-tab-selected::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(to bottom, #000208, #141449);
    border-radius: 8px;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  .selected-tab {
    position: absolute;
    bottom: -10px;
    left: 2px;
    right: 0;
    width: 5.25rem;
    height: 4px;
    background-color: #00ff91;
    border-radius: 8px;
    z-index: 0;
    transition: opacity 1s ease-in-out;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
